.dojoxGridx {
	position: relative;
	overflow: hidden;
	border: 1px solid #ddd;
}

.dojoxGridx .dojoxGridxHeader {
	background-color: #eee;
}
.dojoxGridx .dojoxGridxHeader, .dojoxGridxHeaderRow, .dojoxGridxFooter {
	overflow: hidden;
	background-color: #eee;
}
.dojoxGridx table {
	border-collapse: collapse;
	border: none;
	table-layout: fixed;
	position: relative;
	width: 1px;
}
.dojoxGridx .dojoxGridxHeader th {
	border-right: 1px solid #ddd;
	padding: 3px;
	text-align: left;
	overflow: hidden;
}


.dojoxGridx .dojoxGridxHeaderRow {
	border-bottom: 1px solid #ccc;
}
.dojoxGridx .dojoxGridxFooter {
}
.dojoxGridx .dojoxGridxMain {
	position: relative;
}
.dojoxGridx .dojoxGridxBody {
	height: 100%;
	overflow: hidden;
	position: absolute;
}
.dojoxGridx .dojoxGridxVScroller {
	position: absolute;
	top: 0px;
	right: 0px;
	overflow: scroll; 
	overflow-x: hidden; 
	width: 20px; 
	border: none;
	height: 100%;
}
.dojoxGridx .dojoxGridxHScroller {
	overflow: scroll;
	overflow-y: hidden;
	border: none;
}

.dojoxGridx td{
	border: 1px solid #ddd;
	border-left: none;
	border-top: none;
	padding: 3px;
	text-align: left;
	overflow: hidden;
}

/*below is dummy style*/
.dojoxGridxRow, .dojoxGridxHeaderRow {
}

/* Single Sort */
.dojoxGridxSortNode {
	text-decoration:none;
	display:block;
}
.dojoxGridxArrowButtonChar {
	display:none;
	float:right;
}
.dojoxGridxArrowButtonNode {
	background:transparent url("../../../../dijit/themes/claro/images/spriteArrows.png") no-repeat scroll left center;
	display:block;
	float:right;
	height:1em;
	margin:2px 4px 0 5px;
	padding-left:0;
	width:7px;
}
.dojoxGridxSortUp .dojoxGridxArrowButtonNode {
	background-position:-21px 50%;
}